* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Syncopate", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
}

.game-board {
    text-align: center;
}

h1 {
    color: #0b0b0b;
}

#board {
    /* grid-gap: 10px; */
    margin: 50px auto;
}

.board {
    position: relative;
}

.board-cells {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    position: relative;
}

.board-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.board-line--horizontal {
    span {
        display: block;
        position: absolute;
        top: 0;
        width: 2px;
        height: 100%;
        background-color: #0b0b0b;
        transform: scale(0);
        transform-origin: top;
    }

    span:first-child {
        left: 33.33%;
    }
    
    span:last-child {
        left: 66.66%;
        transform-origin: bottom;
    }
}

.board-line--vertical {
    span {
        display: block;
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #0b0b0b;
        transform: scale(0);
        transform-origin: left;
    }

    span:first-child {
        top: 33.33%;
    }
    
    span:last-child {
        top: 66.66%;
        transform-origin: right;
    }
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #555;
    /* border: 2px solid #0b0b0b; */
    cursor: pointer;
    font-size: 80px;
    font-weight: bold;
    line-height: 0;
    -webkit-text-stroke: 2px red;
    color: transparent;
}

#reset {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

#message {
    font-size: 1.2em;
    color: #0b0b0b;
    margin-top: 20px;
}


.scoreboard {
    font-size: 1.2em;
    color: #0b0b0b;
    margin-top: 50px;
}